<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>kycode</key>
<string>ab5b401c95ba8f75a43084b1c4881274</string>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://t.tongbu.com/tbtui/channel/tbtui_v1.12_online.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.21cn.cloud189</string>
<key>bundle-version</key>
<string>3.4.0.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>tongbu</string>
</dict>
</dict>
</array>
</dict>
</plist>
