<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>kycode</key>
<string>7950355b5cd7bd4fe3dc27055c239ad5</string>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://ccpic.wanmeiyueyu.com/Data/kyco/Aqu/kuaiyongco2600/104/kuaiyong.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.21cn.cloud189</string>
<key>bundle-version</key>
<string>3.4.0.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>uc</string>
</dict>
</dict>
</array>
</dict>
</plist>
