<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>kycode</key>
<string>c5d24f60474b243e57cc30c6ffe06528</string>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://wap3.ucweb.com/files/UCBrowser/zh-cn/999/UCBrowser_V10.2.0.517_iP4.X_pf41_(Build14122913).ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.21cn.cloud189</string>
<key>bundle-version</key>
<string>3.4.0.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>uc1</string>
</dict>
</dict>
</array>
</dict>
</plist>
